.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
    width: 180px;
    height: 180px;
    margin: 10px;
    float: left;
    position: absolute;
}

.jot-text {
  text-align: center;
}

#close-button {
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  color: rgba(0,0,0,.1);
  position: absolute;
  right: 10px;
  top: 10px;
}

.form-input {
  background: rgba(255, 255, 255, .25);
  text-align: center;
  resize: none;
  height: 140px;
  width: 100%;
}

input {
  outline: none;
  border: none;
}

.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.swatch-color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.colorpicker {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px
}

.vote-holder {
  position: absolute;
  bottom: 0;
  width: 80%;
}

.vote-button-holder {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.vote {
  height: 20px;
  width: 20px;
  background-color: rgb(32, 1, 209);
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.vote-up {
  cursor: pointer;
}